body {
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body .app .app-header .app-titile {
  margin: 0px;
}

body .app .app-header .app-subtitle {
  font-size: 13pt;
  color: rgba(0, 0, 0, 0.5);
}

body .app .app-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
}

body .app .app-body .menu {
  width: 350px;
  margin: 0px;
}

body .app .app-body .menu .btn {
  margin: 5px 0px;
  padding: 10px;
  font-size: 12pt;
  width: 250px;
  cursor: pointer;
}

body .app .app-body div[data-side] .battlefield-table {
  width: 100%;
  border-spacing: 0px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

body .app .app-body div[data-side] .battlefield-table .battlefield-tr .battlefield-td {
  position: relative;
  padding: 0px;
  width: 30px;
  height: 30px;
  background-color: #e1e4ff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-size: 14pt;
}

body .app .app-body div[data-side] .battlefield-table .battlefield-tr .battlefield-td .marker {
  position: absolute;
  width: 30px;
  height: 30px;
  cursor: default;
}

body .app .app-body div[data-side] .battlefield-table .battlefield-tr .battlefield-td .marker-col {
  top: -30px;
}

body .app .app-body div[data-side] .battlefield-table .battlefield-tr .battlefield-td .marker-row {
  left: -40px;
  top: 3px;
}

body .app .app-body div[data-side] .battlefield-table .battlefield-tr .battlefield-td:hover {
  background-color: #d1c3c3;
}

body .app .app-body div[data-side] .battlefield-opponent-dock {
  visibility: hidden;
}

body .app .app-body div[data-side] .battlefield-player-dock, body .app .app-body div[data-side] .battlefield-opponent-dock {
  display: none;
  margin-top: 30px;
  width: 300px;
  height: 200px;
  -ms-grid-columns: (0px)[5];
      grid-template-columns: repeat(5, 0px);
  -ms-grid-rows: (0px)[4];
      grid-template-rows: repeat(4, 0px);
  gap: 50px 40px;
      grid-template-areas: "ship-row-4-0 . . . . " "ship-row-3-1 . . ship-row-3-2 ." "ship-row-2-3 . ship-row-2-4 . ship-row-2-5" "ship-row-1-6 ship-row-1-7 ship-row-1-8 ship-row-1-9 .";
}

body .app .app-body div[data-side] .battlefield-player-dock .ship, body .app .app-body div[data-side] .battlefield-opponent-dock .ship {
  outline: 3px solid blue;
  background-color: rgba(0, 0, 255, 0.5);
  z-index: 50;
  cursor: move;
}

body .app .app-body div[data-side] .battlefield-player-dock .ship-pos-good, body .app .app-body div[data-side] .battlefield-opponent-dock .ship-pos-good {
  outline: 3px solid lime;
  background-color: rgba(0, 255, 0, 0.5);
  z-index: 50;
  cursor: move;
}

body .app .app-body div[data-side] .battlefield-player-dock .ship-pos-bad, body .app .app-body div[data-side] .battlefield-opponent-dock .ship-pos-bad {
  outline: 3px solid red;
  background-color: rgba(255, 0, 0, 0.5);
  z-index: 50;
  cursor: move;
}

body .app .app-body div[data-side] .battlefield-player-dock .ship-row-4-0, body .app .app-body div[data-side] .battlefield-opponent-dock .ship-row-4-0 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: ship-row-4-0;
}

body .app .app-body div[data-side] .battlefield-player-dock .ship-row-3-1, body .app .app-body div[data-side] .battlefield-opponent-dock .ship-row-3-1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: ship-row-3-1;
}

body .app .app-body div[data-side] .battlefield-player-dock .ship-row-3-2, body .app .app-body div[data-side] .battlefield-opponent-dock .ship-row-3-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: ship-row-3-2;
}

body .app .app-body div[data-side] .battlefield-player-dock .ship-row-2-3, body .app .app-body div[data-side] .battlefield-opponent-dock .ship-row-2-3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: ship-row-2-3;
}

body .app .app-body div[data-side] .battlefield-player-dock .ship-row-2-4, body .app .app-body div[data-side] .battlefield-opponent-dock .ship-row-2-4 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: ship-row-2-4;
}

body .app .app-body div[data-side] .battlefield-player-dock .ship-row-2-5, body .app .app-body div[data-side] .battlefield-opponent-dock .ship-row-2-5 {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: ship-row-2-5;
}

body .app .app-body div[data-side] .battlefield-player-dock .ship-row-1-6, body .app .app-body div[data-side] .battlefield-opponent-dock .ship-row-1-6 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: ship-row-1-6;
}

body .app .app-body div[data-side] .battlefield-player-dock .ship-row-1-7, body .app .app-body div[data-side] .battlefield-opponent-dock .ship-row-1-7 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: ship-row-1-7;
}

body .app .app-body div[data-side] .battlefield-player-dock .ship-row-1-8, body .app .app-body div[data-side] .battlefield-opponent-dock .ship-row-1-8 {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: ship-row-1-8;
}

body .app .app-body div[data-side] .battlefield-player-dock .ship-row-1-9, body .app .app-body div[data-side] .battlefield-opponent-dock .ship-row-1-9 {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: ship-row-1-9;
}
