body{
    text-align: center;
    user-select: none;
    overflow: hidden;
    margin: 0px;
    .app{
        background: url(../Sea_Battle/img/battleship.jpg) center no-repeat;
        background-size: cover;
        .app-header{
            padding: 20px 0px 20px 0px;
            background-color: rgba(0, 0, 0, .5);
            .app-title{
                margin: 0px;
                color: white;
            }
        }
        // .timer{
        //     display: block;
        //     position: absolute;
        //     right: 40%;
        //     margin-top: 20px;
        //     width: 150px;
        //     height: 30px;
        // }
        .app-body{
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            margin-top: 60px;
            .menu{
                width: 350px;
                .btn{
                    margin: 5px 0px;
                    padding: 10px;
                    font-size: 12pt;
                    width: 250px;
                    cursor: pointer;
                    border-radius: 20px;
                }
                button[data-computer="easy"]{
                    transition: .5s all ease 0s;
                }
                button[data-computer="easy"]:hover{
                    box-shadow: inset 0px 0px 20px 10px green;
                }
                button[data-computer="middle"]{
                    transition: .5s all ease 0s;
                }
                button[data-computer="middle"]:hover{
                    box-shadow: inset 0px 0px 20px 10px yellow;
                }
                button[data-computer="hard"]{
                    transition: .5s all ease 0s;
                }
                button[data-computer="hard"]:hover{
                    box-shadow: inset 0px 0px 20px 10px red;
                }
                button[data-action="manually"]{
                    transition: .5s all ease 0s;
                }
                button[data-action="manually"]:hover{
                    background: url(../Sea_Battle/img/manual.gif) center no-repeat;
                    background-size: cover;
                }
                button[data-action="randomize"]{
                    transition: .5s all ease 0s;
                }
                button[data-action="randomize"]:hover{
                    background: url(../Sea_Battle/img/random.gif) center no-repeat;
                    background-size: cover;
                }
            }
            .event{
                display: none;
                width: 350px;
                .helper-move{
                    display: none;
                    margin: 120px 0px 0px 150px;
                    width: 0px;
                    border-top: 30px solid transparent;
                    border-bottom: 30px solid transparent;
                    border-left: 0px solid green;
                    border-right: 0px solid red;
                    transition: .5s ease all 0s;
                }
                .winner{
                    display: none;
                    margin: 30px auto;
                    width: 80%;
                    height: 250px;
                }
            }
            div[data-side]{
                .battlefield-table{
                    width: 100%;
                    z-index: 1000;
                    border-spacing: 0px;
                    border: 1px solid rgba(0, 0, 0, .5);
                    .battlefield-tr{
                        .battlefield-td{
                            position: relative;
                            padding: 0px;
                            width: 30px;
                            height: 30px;
                            background-color: #e1e4ff;
                            border: 1px solid rgba(0, 0, 0, .5);
                            cursor: pointer;
                            font-size: 14pt;
                            transition: .5s all ease 0s;
                            .marker{
                                position: absolute;
                                width: 30px;
                                height: 30px;
                                cursor: default;
                                font-weight: bold;
                            }
                            .marker-col{
                                top: -30px;
                            }
                            .marker-row{
                                left: -40px;
                                top: 3px;
                            }
                            span{
                                font-size: 40pt;
                                height: 30px;
                                width: 30px;
                                top: 0px;
                                left: 0px;
                                position: absolute;
                                background: url(../Sea_Battle/img/waves.png) center no-repeat;
                                background-size: cover;
                            }
                        }
                        .battlefield-td:hover{
                            background-color: #d1c3c3;
                        }
                        .hitted{
                            z-index: 1000;
                            background-color: rgb(159, 27, 27);
                        }
                        .hitted:hover{
                            background-color: rgb(159, 27, 27);
                        }
                    }
                }
                .battlefield-dock{
                    visibility: hidden;
                    display: grid;
                    margin-top: 30px;
                    width: 300px;
                    height: 200px;
                    // background: url(../Sea_Battle/img/dock.jpg) center no-repeat;
                    // background-size: cover;
                    grid-template-columns: repeat(5, 0px);
                    grid-template-rows: repeat(4, 0px);
                    gap: 50px 40px;
                    grid-template-areas: "ship-row-4-0 . . . . "
                                         "ship-row-3-1 . . ship-row-3-2 ."
                                         "ship-row-2-3 . ship-row-2-4 . ship-row-2-5"
                                         "ship-row-1-6 ship-row-1-7 ship-row-1-8 ship-row-1-9 .";
                    .ship{
                        outline: 3px solid rgb(0, 0, 255);
                        background-color: rgb(61, 61, 189);
                        z-index: 50;
                        cursor: move;
                    }
                    .ship-pos-good{
                        outline: 3px solid rgb(0, 255, 0);
                        background-color: rgba(0, 255, 0, .5);
                        z-index: 50;
                        cursor: move;
                    }
                    .ship-pos-bad{
                        outline: 3px solid rgb(255, 0, 0);
                        background-color: rgba(255, 0, 0, .5);
                        z-index: 50;
                        cursor: move;
                    }
                    .ship-row-4-0{
                        grid-area: ship-row-4-0;
                    }
                    .ship-row-3-1{
                        grid-area: ship-row-3-1;
                    }
                    .ship-row-3-2{
                        grid-area: ship-row-3-2;
                    }
                    .ship-row-2-3{
                        grid-area: ship-row-2-3;
                    }
                    .ship-row-2-4{
                        grid-area: ship-row-2-4;
                    }
                    .ship-row-2-5{
                        grid-area: ship-row-2-5;
                    }
                    .ship-row-1-6{
                        grid-area: ship-row-1-6;
                    }
                    .ship-row-1-7{
                        grid-area: ship-row-1-7;
                    }
                    .ship-row-1-8{
                        grid-area: ship-row-1-8;
                    }
                    .ship-row-1-9{
                        grid-area: ship-row-1-9;
                    }
                    .killed{
                        outline: 3px solid rgb(255, 0, 0);
                    }
                }
            }
        }
        .app-footer{
            margin-top: 20px;
            height: 100px;
            padding-top: 5px;
            background-color: rgba(0, 0, 0, .5);
            .app-subtitle{
                font-size: 13pt;
                color: white;
                .app-link{
                    color: #ffe500;
                }
            }
        }
    }
}