body{
    user-select: none;
    overflow: hidden;
    margin: 0px;
    font-family: 'Bebas Neue', cursive;
    .app{
        background: url(../img/battleship.jpg) center no-repeat;
        background-size: cover;
        .app-header{
            padding: 20px 0px 20px 0px;
            background-color: rgba(0, 0, 0, .5);
            text-align: center;
            width: 100%;
            .app-title{
                margin: 0px;
                color: white;
            }
        }
        .app-body{
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            margin-top: 60px;
            .menu{
                width: 350px;
                padding-top: 20px;
                text-align: center;
                .btn{
                    margin: 10px 0px;
                    padding: 11px;
                    font-size: 14pt;
                    width: 286px;
                    cursor: pointer;
                    border-radius: 20px;
                    font-family: 'Bebas Neue', cursive;
                }
                button[data-computer="easy"]{
                    transition: .5s all ease 0s;
                }
                button[data-computer="easy"]:hover{
                    box-shadow: inset 0px 0px 20px 10px green;
                }
                button[data-computer="middle"]{
                    transition: .5s all ease 0s;
                }
                button[data-computer="middle"]:hover{
                    box-shadow: inset 0px 0px 20px 10px yellow;
                }
                button[data-computer="hard"]{
                    transition: .5s all ease 0s;
                }
                button[data-computer="hard"]:hover{
                    box-shadow: inset 0px 0px 20px 10px red;
                }
                button[data-action="manually"]{
                    transition: .5s all ease 0s;
                }
                button[data-action="manually"]:hover{
                    color: white;
                    background: url(../Sea_Battle/img/manual.gif) center no-repeat;
                    background-size: cover;
                    text-shadow: 0px 0px 10px white;
                    box-shadow: inset 0px 0px 60px 0px black;
                }
                button[data-action="randomize"]{
                    transition: .5s all ease 0s;
                }
                button[data-action="randomize"]:hover{
                    color: white;
                    background: url(../Sea_Battle/img/random.gif) center no-repeat;
                    text-shadow: 0px 0px 10px white;
                    box-shadow: inset 0px 0px 60px 0px black;
                    background-size: 105% 500%;
                }
            }
            .event{
                text-align: center;
                display: none;
                width: 350px;
                .timer{
                    display: block;
                    margin: 0px auto;
                    width: 150px;
                    height: 30px;
                    font-size: 18pt;
                }
                .helper-move{
                    display: none;
                    margin: 140px 0px 0px 150px;
                    width: 0px;
                    border-top: 30px solid transparent;
                    border-bottom: 30px solid transparent;
                    border-left: 0px solid green;
                    border-right: 0px solid red;
                    transition: .5s ease all 0s;
                }
                .winner{
                    display: none;
                    margin: 30px auto;
                    width: 80%;
                    height: 250px;
                }
                .continue{
                    display: block;
                    position: relative;
                    margin: 0px auto;
                    padding: 15px 0px;
                    font-size: 14pt;
                    width: 180px;
                    height: 64px;
                    bottom: calc(-100% - 20px);
                    border: 2px solid darkblue;
                    border-radius: 45%;
                    transition: 1.5s ease 0s;
                    cursor: pointer;
                    font-weight: bold;
                    background: url(../Sea_Battle/img/bgSea.png);
                    background-repeat: repeat-x;
                    background-size: 250px 150px;
                    background-position: 0px 20px;
                    font-family: 'Bebas Neue', cursive;
                }
                .continue:hover{
                    color: white;
                    text-shadow: 0px;
                    background-position: 150px -70px;
                    .continue_text{
                        text-shadow: 0px 0px 10px white;
                    }
                }
            }
            div[data-side]{
                margin-left: 40px;
                .battlefield-table{
                    width: 100%;
                    text-align: center;
                    border-spacing: 0px;
                    border: 1px solid rgba(0, 0, 0, .5);
                    box-shadow: -15px -15px 15px 30px #e1e4ff;
                    .battlefield-tr{
                        .battlefield-td{
                            position: relative;
                            padding: 0px;
                            width: 38px;
                            height: 38px;
                            background-color: #e1e4ff;
                            border: 1px solid rgba(0, 0, 0, .5);
                            cursor: pointer;
                            font-size: 14pt;
                            transition: .5s all ease 0s;
                            .marker{
                                position: absolute;
                                width: 30px;
                                height: 30px;
                                cursor: default;
                                font-weight: bold;
                            }
                            .marker-col{
                                top: -30px;
                                left: 5px;
                            }
                            .marker-row{
                                left: -40px;
                                top: 5px;
                            }
                            .miss{
                                font-size: 40pt;
                                height: 100%;
                                width: 100%;
                                top: 0px;
                                left: 0px;
                                position: absolute;
                                background: url(../Sea_Battle/img/waves.png) center no-repeat;
                                background-size: cover;
                            }
                        }
                        .battlefield-td:hover{
                            background-color: #d1c3c3;
                        }
                        .hitted{
                            z-index: 1500;
                            background-color: rgb(159, 27, 27);
                        }
                        .hitted:hover{
                            background-color: rgb(159, 27, 27);
                        }
                    }
                }
                .battlefield-dock{
                    visibility: hidden;
                    display: grid;
                    margin-top: 30px;
                    width: 300px;
                    height: 200px;
                    // background: url(../img/dock.jpg) center no-repeat;
                    // background-size: cover;
                    grid-template-columns: repeat(5, 0px);
                    grid-template-rows: repeat(5, 0px);
                    gap: 60px 50px;
                    grid-template-areas: "dock-promp . . . . "
                                         "ship-row-4-0 . . . . "
                                         "ship-row-3-1 . . ship-row-3-2 ."
                                         "ship-row-2-3 . ship-row-2-4 . ship-row-2-5"
                                         "ship-row-1-6 ship-row-1-7 ship-row-1-8 ship-row-1-9 .";
                    .dock-promp{

                    }
                    .ship{
                        outline: 3px solid rgb(0, 0, 255);
                        background-color: rgb(61, 61, 189);
                        z-index: 50;
                        cursor: move;
                    }
                    .ship-pos-good{
                        outline: 3px solid rgb(0, 255, 0);
                        background-color: rgba(0, 255, 0, .5);
                        z-index: 50;
                        cursor: move;
                    }
                    .ship-pos-bad{
                        outline: 3px solid rgb(255, 0, 0);
                        background-color: rgba(255, 0, 0, .5);
                        z-index: 50;
                        cursor: move;
                    }
                    .ship-row-4-0{
                        grid-area: ship-row-4-0;
                    }
                    .ship-row-3-1{
                        grid-area: ship-row-3-1;
                    }
                    .ship-row-3-2{
                        grid-area: ship-row-3-2;
                    }
                    .ship-row-2-3{
                        grid-area: ship-row-2-3;
                    }
                    .ship-row-2-4{
                        grid-area: ship-row-2-4;
                    }
                    .ship-row-2-5{
                        grid-area: ship-row-2-5;
                    }
                    .ship-row-1-6{
                        grid-area: ship-row-1-6;
                    }
                    .ship-row-1-7{
                        grid-area: ship-row-1-7;
                    }
                    .ship-row-1-8{
                        grid-area: ship-row-1-8;
                    }
                    .ship-row-1-9{
                        grid-area: ship-row-1-9;
                    }
                    .killed{
                        outline: 3px solid rgb(255, 0, 0);
                        background-color: rgb(181, 73, 73);
                    }
                }
                .statistics{
                    position: relative;
                    top: -630px;
                    left: 425px;
                    width: 0px;
                    // background-color: brown;
                    display: grid;
                    align-items: center;
                    grid-template-rows: repeat(4, auto);
                    gap: 20px 0px;
                    grid-template-areas: "ship-stat-4 out-4"
                                         "ship-stat-3 out-3"
                                         "ship-stat-2 out-2"
                                         "ship-stat-1 out-1";
                    .ship-stat{
                        outline: 3px solid rgb(0, 0, 255);
                        background-color: rgb(61, 61, 189);
                    }
                    .ship-stat-4{
                        grid-area: ship-stat-4;
                    }
                    .ship-stat-3{
                        grid-area: ship-stat-3;
                    }
                    .ship-stat-2{
                        grid-area: ship-stat-2;
                    }
                    .ship-stat-1{
                        grid-area: ship-stat-1;
                    }
                    .out{
                        font-family: 'Bebas Neue', cursive;
                        font-size: 22pt;    
                        margin-left: 30px;
                        border-radius: 10px;
                        text-align: center;
                        box-shadow: inset 0px 0px 20px 5px white;
                    }
                    .out-4{
                        grid-area: out-4;
                    }
                    .out-3{
                        grid-area: out-3;
                    }
                    .out-2{
                        grid-area: out-2;
                    }
                    .out-1{
                        grid-area: out-1;
                    }
                }
            }
        }
        .app-footer{
            position: absolute;
            left: 0px;
            bottom: 0px;
            margin-top: 20px;
            width: 100%;
            height: 75px;
            padding-top: 5px;
            text-align: center;
            background-color: rgba(0, 0, 0, .5);
            .app-subtitle{
                font-size: 16pt;
                color: white;
                .app-link{
                    color: #ffe500;
                    margin-top: 30px;
                }
            }
        }
    }
}